
body {
 /* background-image: url(https://th.bing.com/th/id/R.b11207c819afe703ecd4d29868e8e7db?rik=N9svpbf%2bG3iERA&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f80000%2fvelka%2fgreen-ribbon-background-1393276642PwD.jpg&ehk=tk6Jo8MZooJt8RTT6TPRUri9khe4iAzOaKDtKWjeq4c%3d&risl=&pid=ImgRaw&r=0);  */
 background-color: gray;
 /* background-repeat: no-repeat; */

}

#board {
  width: 500px;
  height: 500px;
  border: 4px inset black;
  background-image: url(https://th.bing.com/th/id/R.91257ce9ddda777fbe6b36b66069a336?rik=5yf1vXKVCys1PQ&pid=ImgRaw&r=0);
  background-color: darkolivegreen;
  position: relative;
}

#ball {
  background-color: #fff;
  box-shadow:
  inset 0 0 50px rgb(233, 0, 0),      /* inner white */
  inset 20px 0 80px #f0f,   /* inner left magenta short */
  inset -20px 0 80px rgb(255, 0, 0),  /* inner right cyan short */
  inset 20px 0 300px rgb(255, 38, 0),  /* inner left magenta broad */
  inset -20px 0 300px rgb(255, 0, 0), /* inner right cyan broad */
  0 0 50px rgb(250, 0, 0),            /* outer white */
  -10px 0 80px rgb(255, 0, 0),        /* outer left magenta */
  10px 0 80px rgb(255, 0, 0);         /* outer right cyan */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  left:215px;
  top: 240px;
}
#scoreboard{
  position: fixed;
  height: 30px;
  width: 30px;
  color: blue;
  right:600px;
}
#scoreboard2{
  position: absolute;
  height: 30px;
  width: 30px;
  color:red;
  top: 200px;
  left: 750px;
}
#player1{
  height: 90px;
  width : 20px;
  background-color: blue;
  border: 3px dotted grey;
  border-radius: 60%;
  position: fixed;
  top: 220px;
  left: 30px;
}
#player2{
  height: 90px;
  width : 20px;
  background-color: red;
  border: 3px inset black;
  border-radius: 60%;
  position: fixed ;
  top: 205px;
  left: 480px;
}
#greeting{
color: darkolivegreen;
position : absolute;
left :900px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
