
body {
 background-color: gray;
 

}

#board {
  width: 500px;
  height: 500px;
  border: 4px inset black;
  background-color: lightblue;
  position: relative;
}

#ball {
  background-color: #fff;
  box-shadow:
  inset 0 0 50px rgb(233, 0, 0),      /* inner white */
  inset 20px 0 80px #f0f,   /* inner left magenta short */
  inset -20px 0 80px rgb(255, 0, 0),  /* inner right cyan short */
  inset 20px 0 300px rgb(255, 38, 0),  /* inner left magenta broad */
  inset -20px 0 300px rgb(255, 0, 0), /* inner right cyan broad */
  0 0 50px rgb(250, 0, 0),            /* outer white */
  -10px 0 80px rgb(255, 0, 0),        /* outer left magenta */
  10px 0 80px rgb(255, 0, 0);         /* outer right cyan */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  left:215px;
  top: 240px;
}
#scoreboard{
  position: fixed;
  height: 30px;
  width: 30px;
  color:blue;
  right:600px;
}
#scoreboard2{
  position: fixed;
  height: 30px;
  width: 30px;
  color : red;
  top: 200px;
  left: 750px;
}
#player1{
  height: 90px;
  width : 20px;
  background-color: blue;
  border: 2px dotted grey;
  /* border-radius: 60%; */
  position: absolute;
  top: 220px;
}
#player2{
  height: 90px;
  width : 20px;
  background-color: red;
  border: 3px inset black;
  position: absolute ;
  top: 205px;
  left: 475px;
}
#greeting{
color: lightblue;
position : absolute;
left :900px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dottedLines{
  width: 245px;
  height: 496px;
  border-right: 10px dashed black;
  margin-top: 2px;
}
